@page "/ViewPreBuilt"
@using Domain.Models
@using Blazor.Services.Interfaces
@inject IItemService itemService
@inject IShoppingCartService shoppingCartService;
@using Blazored.Toast.Services
@inject IToastService toastService;
@using Components

<div class = "search-bar">
    <input type="text" @bind="searchItem" placeholder="Search items" />
    <select @bind="orderBy">
            <option value = "">Order By</option>
            <option value="maxPrice">Max Price</option>
            <option value="minPrice">Min Price</option>
            <option value="mostRecent">Most Recent</option>
        </select>
 <button @onclick="Search">Search</button>
</div>
<div class="item-grid">
    @if (filteredItems == null)
    {
        <p>Loading...</p>
    }
    else if (!filteredItems.Any())
    {
        <p>No Items to display</p>
    }
    else
    {
        @foreach (var item in filteredItems)
        {
                <div class="item-card">
                    <img src="img/product.png" alt="@item.Name" @onclick="() => ShowItemModal(item)"/>
                    <div class="item-details">
                        <h4>@item.Name</h4>
                        <p>Price: @item.Price $</p>
                        <button class="buy-button" @onclick="() => AddToCart(item)">Add To Cart</button>
                    </div>
                </div>
        }
    }
</div>

@if (showModal)
{
    <ItemModal ShowModal="showModal">
        <div class="card">
            @if(selectedItem!=null)
            {
            <h3>@selectedItem.Name</h3>
            <div class="form-group field">
                <p><strong>Description:</strong></p>
                <ul>
                                        @foreach (var line in selectedItem.Description.Split('\n'))
                                        {
                                            <li>@line</li>
                                        }
                                    </ul>
                
                
                
                <p><strong>Price:</strong> @selectedItem.Price $</p>
            </div>
            }
            @if (!string.IsNullOrEmpty(msg))
            {
                <label style="color: red">@msg</label>
            }
            <button class="btn btn-secondary close-button" @onclick="CloseModal">Close</button>
        </div>
    </ItemModal>


@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}

@code {
    private IEnumerable<Item>? items;
    private string msg = "";
    private bool showModal;
    private Item selectedItem;
    private string searchItem = "";
    private IEnumerable<Item>? filteredItems;
    private string orderBy = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var allItems = await itemService.GetAsync();

            items = ExcludeItems(allItems);
            UpdateFilteredItems();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    
    private List<Item> ExcludeItems(IEnumerable<Item> allItems)
    {
        return allItems
            .Where(item => item.Category.Contains("Pre-Built", StringComparison.OrdinalIgnoreCase))
            .ToList();
    }

    private void ShowItemModal(Item item)
    {
        selectedItem = item;
        showModal = true;
    }

    
    private async Task AddToCart(Item item)
    {
        showModal = false;
        await shoppingCartService.AddToCart(item);
        toastService.ShowSuccess("Item added to cart" + item.Name);
    }

    private void CloseModal()
    {
        showModal = false;
    }
    
    private void Search()
    {
        filteredItems = items
            .Where(item => 
                item.Name.Contains(searchItem, StringComparison.OrdinalIgnoreCase) || 
                item.Description.Contains(searchItem,StringComparison.OrdinalIgnoreCase)
            )
            .ToList();
        
        if (!string.IsNullOrEmpty(orderBy))
        {
            switch (orderBy)
            {
                case "maxPrice":
                    filteredItems = filteredItems.OrderByDescending(item => item.Price).ToList();
                    break;
                case "minPrice":
                    filteredItems = filteredItems.OrderBy(item => item.Price).ToList();
                    break;
                case "mostRecent":
                    filteredItems = filteredItems.OrderByDescending(item => item.ItemId).ToList();
                    break;
    //We can add more if we want!!
            }
        }
        
    }
    
    private void UpdateFilteredItems()
    {
        filteredItems = items.ToList();
    }

}
}