@page "/ViewItems"
@using Domain.Models
@using Blazor.Services.Interfaces
@inject IItemService itemService
@inject IShoppingCartService shoppingCartService;
@using Blazored.Toast.Services
@inject IToastService toastService;
@using Components


<div class="item-grid">
    @if (items == null)
    {
        <p>Loading...</p>
    }
    else if (!items.Any())
    {
        <p>No Items to display</p>
    }
    else
    {
        @foreach (var item in items)
        {
                <div class="item-card">
                    <img src="img/product.png" alt="@item.Name" @onclick="() => ShowItemModal(item)"/>
                    <div class="item-details">
                        <p>@item.Name</p>
                        <p>Price: @item.Price DKK</p>
                        <button class="buy-button" @onclick="() => AddToCart(item)">Buy</button>
                    </div>
                </div>
        }
    }
</div>

@if (showModal)
{
    <ItemModal ShowModal="showModal">
        <div class="card">
            @if(selectedItem!=null)
            {
            <h3>@selectedItem.Name</h3>
            <div class="form-group field">
                 <p><strong>Description:</strong> @selectedItem.Description</p>
                <p><strong>Price:</strong> @selectedItem.Price $</p>
            </div>
            }
            @if (!string.IsNullOrEmpty(msg))
            {
                <label style="color: red">@msg</label>
            }
            <button class="btn btn-secondary close-button" @onclick="CloseModal">Close</button>
        </div>
    </ItemModal>


@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}

@code {
    private IEnumerable<Item>? items;
    private string msg = "";
    private bool showModal;
    private Item selectedItem;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            items = await itemService.GetAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private void ShowItemModal(Item item)
    {
        selectedItem = item;
        showModal = true;
    }

    
    private async Task AddToCart(Item item)
    {
        showModal = false;
        await shoppingCartService.AddToCart(item);
        toastService.ShowSuccess("Item added to cart" + item.Name);
    }

    private void CloseModal()
    {
        showModal = false;
    }

}
}